{% extends 'base.html' %}

{% block css %}
    <style>
        .modal-footer .btn + .btn {
            margin: 7px 7px 7px 0;
        }
    </style>
    <!--Switchery [ OPTIONAL ]-->
    <link href="/static/plugins/switchery/switchery.min.css" rel="stylesheet">


    <!--Bootstrap Select [ OPTIONAL ]-->
    <link href="/static/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">


    <!--Bootstrap Tags Input [ OPTIONAL ]-->
    <link href="/static/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.css" rel="stylesheet">


    <!--Chosen [ OPTIONAL ]-->
    <link href="/static/plugins/chosen/chosen.min.css" rel="stylesheet">


    <!--noUiSlider [ OPTIONAL ]-->
    <link href="/static/plugins/noUiSlider/nouislider.min.css" rel="stylesheet">


    <!--Select2 [ OPTIONAL ]-->
    <link href="/static/plugins/select2/css/select2.min.css" rel="stylesheet">


    <!--Bootstrap Timepicker [ OPTIONAL ]-->
    <link href="/static/plugins/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet">


    <!--Bootstrap Datepicker [ OPTIONAL ]-->
    <link href="/static/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">

    <!--Magic Checkbox [ OPTIONAL ]-->
    <link href="/static/plugins/magic-check/css/magic-check.min.css" rel="stylesheet">

    <!--Bootstrap Datepicker [ OPTIONAL ]-->
    <link href="/static/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">


    <!--  Toastr_CSS -->
    <link href="/static/js/toastr/toastr.min.css" rel="stylesheet">
{% endblock %}

{% block js %}
    <!--noUiSlider [ OPTIONAL ]-->
    <script src="/static/plugins/noUiSlider/nouislider.min.js"></script>

    <!--Switchery [ OPTIONAL ]-->
    <script src="/static/plugins/switchery/switchery.min.js"></script>


    <!--Bootstrap Select [ OPTIONAL ]-->
    <script src="/static/plugins/bootstrap-select/bootstrap-select.min.js"></script>


    <!--Bootstrap Tags Input [ OPTIONAL ]-->
    <script src="/static/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>


    <!--Chosen [ OPTIONAL ]-->
    <script src="/static/plugins/chosen/chosen.jquery.min.js"></script>


    <!--Select2 [ OPTIONAL ]-->
    <script src="/static/plugins/select2/js/select2.min.js"></script>



    <!--Bootstrap Timepicker [ OPTIONAL ]-->
    <script src="/static/plugins/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>


    <!--Bootstrap Datepicker [ OPTIONAL ]-->
    <script src="/static/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>


    <!--Form Component [ SAMPLE ]-->
    <script src="/static/js/demo/form-component.js"></script>


    <script src="/static/myjs/modals.js"></script>

    <!--Bootbox Modals [ OPTIONAL ]-->
    <script src="/static/bootbox.min.js"></script>

    <!--Form Component [ SAMPLE ]-->
    <script src="/static/js/demo/form-component.js"></script>

    <!--  Toastr_Js  -->
    <script src="/static/js/toastr/toastr.js"></script>
{% endblock %}


{% block title %}
    作者管理
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">作者管理</h3>
                </div>

                <div class="panel-body demo-nifty-btn">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                        添加作者
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">图书表单</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="col-lg-11">
                                        <form action="#" class="panel-body form-horizontal form-padding"
                                              enctype="multipart/form-data" id="addbookform">

                                            <div class="form-group">
                                                <label class="col-md-3 control-label"
                                                       for="demo-text-input">作者名:</label>
                                                <div class="col-md-9">
                                                    {{ author_form.name }}
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label"
                                                       for="demo-text-input">作者地址:</label>
                                                <div class="col-md-9">
                                                    {{ author_form.address }}
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label class="col-md-3 control-label"
                                                       for="demo-text-input">作者联系方式:</label>
                                                <div class="col-md-9">
                                                    {{ author_form.phone }}
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label"
                                                       for="demo-text-input">作者邮箱:</label>
                                                <div class="col-md-9">
                                                    {{ author_form.email }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label"
                                                       for="demo-text-input">作者简介</label>
                                                <div class="col-md-9">
                                                    {{ author_form.authorinfo }}
                                                </div>
                                            </div>




                                        </form>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    <button type="button" class="btn btn-primary" id="addauthor_submit">保存</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Data Table-->
                <!--===================================================-->
                <div class="panel-body">

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>作者名</th>
                                <th>作者地址</th>
                                <th>作者联系方式</th>
                                <th>作者邮箱</th>

                                <th class="text-center">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for author in author_obj %}
                                <tr>
                                    <td><a href="#" class="btn-link"> {{ author.name }}</a></td>
                                    <td><a href="#" class="btn-link"> {{ author.address }}</a></td>
                                    <td><a href="#" class="btn-link"> {{ author.phone }}</a></td>
                                    <td><a href="#" class="btn-link"> {{ author.email }}</a></td>



                                    <td class="text-center">
                                        {% if author.authorinfo %}
                                            <button class="btn btn-purple btn-rounded" data-toggle="modal"
                                                    data-target="#details" type="button" id="details_id"
                                                    disabled="disabled"
                                                    onclick="{{ author.id }}">详情已完善
                                            </button>
                                        {% else %}
                                            <button class="btn btn-info btn-rounded" data-toggle="modal"
                                                    data-target="#details" type="button" id="details_id"
                                                    onclick="Values({{ author.id}})">请完善详情
                                            </button>
                                        {% endif %}

                                        <button class="btn btn-danger btn-rounded" data-toggle="modal"
                                                data-target="#author_del" type="button"
                                                onclick="Values({{ author.id }})">删除
                                        </button>

                                        <a class="btn btn-warning btn-rounded"
                                           href="">编辑</a>
                                    </td>
                                </tr>

                                <div class="modal fade" id="author_del" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close"><span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <h1 class="modal-title" id="myModalLabel">
                                                        <h4>警告</h4>
                                                    </h1>
                                                </div>
                                                <div class="modal-body">
                                                    <h4 class="text-danger">是否删除?</h4>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                                        关闭
                                                    </button>
                                                    <button type="button" class="btn btn-danger" id="author_del">确认
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                <div class="modal fade" id="details" tabindex="-1" role="dialog"
                                     aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close"><span aria-hidden="true">&times;</span>
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel">完善图书详情</h4>
                                            </div>
                                            <div class="modal-body">


                                                <div class="form-group">
                                                    <label class="col-md-3 control-label"
                                                           for="demo-text-input">作者简介</label>
                                                    <div class="col-md-9">
                                                        {{ author_details_form.authorinfo }}
                                                    </div>
                                                </div>


                                                <input type="hidden" value="" id="author_id" name="author_id">

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    关闭
                                                </button>
                                                <button type="button" class="btn btn-primary" id="author_create_details"
                                                        value="">
                                                    保存
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <div class="pull-right">
                        <ul class="pagination text-nowrap mar-no">
                            {#                          判断是否有上一页，如果有就显示，如果没有就不显示或者不让点#}
                            {% if author_obj.has_previous %}
                                <li class="page-pre">
                                    <a href="?page={{ author_obj.previous_page_number }}">&lt;</a>
                                </li>
                            {% else %}
                                <li class="page-pre disabled">
                                    <a href="#">&lt;</a>
                                </li>
                            {% endif %}

                            {#                            生成分页#}
                            {% for page in author_obj.paginator.page_range %}
                                {% if author_obj.number == page %}
                                    <li class="page-number active">
                                        <a href="?page={{ page }}">{{ page }}</a>
                                    </li>
                                {% else %}
                                    <li class="page-number">
                                        <a href="?page={{ page }}">{{ page }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {#                            判断是否有下一页，如果有就显示，如果没有就不显示或者不让点#}
                            {% if author_obj.has_next %}
                                <li class="page-next">
                                    <a href="?page={{ author_obj.next_page_number }}">&gt;</a>
                                </li>
                            {% else %}
                                <li class="page-next disabled">
                                    <a href="#">&gt;</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("#addauthor_submit").click(function () {
            var input_dict = {'': ''};



            input_dict['name'] = $("#authorname").val();
            input_dict['address'] = $("#address").val();
            input_dict['phone'] = $("#phone").val();
            input_dict['email'] = $("#email").val();
            input_dict['authorinfo'] = $("#authorinfo").val();


            console.log(input_dict);

            $.ajax({
                type: "post",
                dataType: 'json',
                url: '{% url 'addauthor' %}',
                data: input_dict,
                success: function (data) {
                    if (data['status'] == "success") {
                        window.location.reload();
                        toastr.success(data['data']);
                    } else {
                        Data = data['data'];
                        console.log(Data);

                        for (var key in Data) {
                            console.log(key);
                        }
                        toastr.warning(key + Data[key]);
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            })

        });



        $("#author_create_details").click(function () {
            var senddata = {'': ''};



            senddata['authorinfo'] = $("#authorinfo").val();

        $.ajax({
                type: "post",
                dataType: 'json',
                url: '{% url 'author_create_details' %}',
                data: senddata,
                success: function (data) {
                    if (data['status'] == "success") {
                        window.location.reload();
                        toastr.success(data['data']);
                    } else {
                        Data = data['data'];
                        console.log(Data);

                        for (var key in Data) {
                            console.log(key);
                        }
                        toastr.warning(key + Data[key]);
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            })

        });

        $("#author_del").click(function () {
            var input_dict = {'author_id': ''};
            input_dict['author_id'] = $("#author_id").val();

            $.ajax({
                type: 'post',
                dataType: "json",
                url: "{% url 'author_del' %}",
                data: input_dict,
                success: function (data) {
                    if (data['status'] == "success") {
                        window.location.reload();
                        toastr.success(data['data']);
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            })
        });

        function Values(ID) {
            $("#author_id").val(ID);
        };
    </script>
{% endblock %}